In [58]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"]=(20,10)

In [59]:
df1=pd.read_csv("traffic.csv")
df1.head()

              DateTime  Junction  Vehicles           ID
0  2015-11-01 00:00:00         1        15  20151101001
1  2015-11-01 01:00:00         1        13  20151101011
2  2015-11-01 02:00:00         1        10  20151101021
3  2015-11-01 03:00:00         1         7  20151101031
4  2015-11-01 04:00:00         1         9  20151101041

In [60]:
df1.shape
df1[['Date', 'Time']] = df1['DateTime'].str.split(' ', 1, expand=True)
df1["Date"] = [float(str(i).replace("-", "")) for i in df1["Date"]]
df1["Time"] = [float(str(i).replace(":", "")) for i in df1["Time"]]
df1.head()

              DateTime  Junction  Vehicles           ID        Date     Time
0  2015-11-01 00:00:00         1        15  20151101001  20151101.0      0.0
1  2015-11-01 01:00:00         1        13  20151101011  20151101.0  10000.0
2  2015-11-01 02:00:00         1        10  20151101021  20151101.0  20000.0
3  2015-11-01 03:00:00         1         7  20151101031  20151101.0  30000.0
4  2015-11-01 04:00:00         1         9  20151101041  20151101.0  40000.0

In [64]:
df2=df1.drop('DateTime',axis='columns')
df2.head()

   Junction  Vehicles           ID        Date     Time
0         1        15  20151101001  20151101.0      0.0
1         1        13  20151101011  20151101.0  10000.0
2         1        10  20151101021  20151101.0  20000.0
3         1         7  20151101031  20151101.0  30000.0
4         1         9  20151101041  20151101.0  40000.0

In [65]:
x = df2.drop(['Vehicles','ID'],axis='columns')
x.head()

   Junction        Date     Time
0         1  20151101.0      0.0
1         1  20151101.0  10000.0
2         1  20151101.0  20000.0
3         1  20151101.0  30000.0
4         1  20151101.0  40000.0

In [66]:
y=df2.Vehicles
y.head()

0    15
1    13
2    10
3     7
4     9
Name: Vehicles, dtype: int64

In [67]:
from sklearn.model_selection import train_test_split
x_train, x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=10)

In [68]:
y_train.head()

7733     20
16270     9
44757    10
23039    18
6686     58
Name: Vehicles, dtype: int64

In [69]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

cv = ShuffleSplit(n_splits=5,test_size=0.2,random_state=0)

cross_val_score(LinearRegression(),x,y,cv=cv)

array([0.57965652, 0.57090647, 0.55350706, 0.56837551, 0.5671549 ])

In [81]:
from sklearn.linear_model import LinearRegression
lr_clf = LinearRegression()
lr_clf.fit(x_train,y_train.values)
lr_clf.score(x_train,y_train)

0.5644527454186336

In [85]:
from sklearn.tree import DecisionTreeRegressor
Dr_clf = DecisionTreeRegressor()
Dr_clf.fit(x_train.values,y_train.values)
Dr_clf.score(x_train,y_train)

C:\Users\guru\PycharmProjects\pythonProject1\venv\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but DecisionTreeRegressor was fitted without feature names
  warnings.warn(

0.9528397563829437

In [91]:
Dr_clf.predict([[3,20 160605,120000]])

array([12.])

In [93]:
import pickle
with open('TrafficPredictionModel.pickle','wb') as f:
    pickle.dump(Dr_clf,f)